@charset "UTF-8";

label {
		cursor: pointer;
}
form{
	position: relative;
}
/* Customize the label (the checkbox) */
.form__group-checkbox {
		padding-left: 35px;
		margin-bottom: 12px;
		font-size: 22px;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		cursor: pointer;
		display: block;
		position: relative;
}

/* Hide the browser's default checkbox */
.form__group-checkbox input {
		position: absolute;
		opacity: 0;
		cursor: pointer;
		height: 0;
		width: 0;
}

/* Create a custom checkbox */
.form__group-checkbox .checkmark {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		margin: auto 0;
		height: 25px;
		width: 25px;
		background-color: #2196F3;
		border-radius: 5px;
}

/* On mouse-over, add a grey background color */
/*.form__group-checkbox:hover input ~ .checkmark {
	background-color: #ccc;
}*/

/* When the checkbox is checked, add a blue background */
.form__group-checkbox input:checked~.checkmark {
		background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.form__group-checkbox .checkmark:after {
		content: '';
		position: absolute;
		display: none;
}

/* Show the checkmark when checked */
.form__group-checkbox input:checked~.checkmark:after {
		display: block;
}

/* Style the checkmark/indicator */
.form__group-checkbox .checkmark:after {
		left: 9px;
		top: 5px;
		width: 5px;
		height: 10px;
		border: solid white;
		border-width: 0 3px 3px 0;
		-webkit-transform: rotate(45deg);
		-ms-transform: rotate(45deg);
		transform: rotate(45deg);
}


/* The form__group-radio */
.form__group-radio {
		display: block;
		position: relative;
		padding: 5px 20px;
		cursor: pointer;
		font-size: 22px;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
}

/* Hide the browser's default radio button */
.form__group-radio input {
		position: absolute;
		opacity: 0;
		cursor: pointer;
}

/* Create a custom radio button */
.form__group-radio .checkmark {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		margin: auto;
		height: 35px;
		width: 35px;
		background-color: #eee;
		border-radius: 50%;
}

.form__group-radio .checkmark {
		background-color: #2196F3;
}

.pinky,
.form__group-radio .checkmark.pinky {
		background-color: #ED5199;
}

.red,
.form__group-radio .checkmark.red {
		background-color: #FD0909;
}

.blue,
.form__group-radio .checkmark.blue {
		background-color: #67B5F7;
}

.white,
.form__group-radio .checkmark.white {
		background-color: #FFFFFF;
}

.lightgray,
.form__group-radio .checkmark.lightgray {
		background-color: #C9C9C9;
}

.darkgray,
.form__group-radio .checkmark.darkgray {
		background-color: #3E3A3A;
}

/* On mouse-over, add a grey background color */
/*.form__group-radio:hover input ~ .checkmark { background-color: #ccc; }*/

/* When the radio button is checked, change background */
.form__group-radio input:checked~.checkmark {
		background-color: #2196F3;
}

.form__group-radio input:checked~.checkmark.pinky {
		background-color: #ED5199;
}

.form__group-radio input:checked~.checkmark.red {
		background-color: #FD0909;
}

.form__group-radio input:checked~.checkmark.blue {
		background-color: #67B5F7;
}

.form__group-radio input:checked~.checkmark.white {
		background-color: #FFFFFF;
}

.form__group-radio input:checked~.checkmark.lightgray {
		background-color: #C9C9C9;
}

.form__group-radio input:checked~.checkmark.darkgray {
		background-color: #3E3A3A;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.form__group-radio .checkmark:after {
		content: '';
		position: absolute;
		display: none;
}

/* Show the indicator (dot/circle) when checked */
.form__group-radio input:checked~.checkmark:after {
		display: block;
}

/* Style the indicator (dot/circle) */
.form__group-radio .checkmark:after {
		left: 13px;
		top: 10px;
		width: 5px;
		height: 10px;
		border: solid white;
		border-width: 0 3px 3px 0;
		-webkit-transform: rotate(45deg);
		-ms-transform: rotate(45deg);
		transform: rotate(45deg);
}

.form__group-radio .checkmark.white:after {
		border-color: black;
}

.btn {
		outline: none;
		display: inline-block;
		font-family: 'Noto Sans TC', 'Roboto', sans-serif;
		font-weight: normal;
		text-align: center;
		white-space: nowrap;
		vertical-align: middle;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		border: 1px solid transparent;
		padding: 10px 30px;
		font-size: 14px;
		line-height: 1.5;
		border-radius: .25rem;
		transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
		color: #FFF;
		cursor: pointer;
}

.btn-blue {
		background-color: #1592E6;
}

.btn-edit {
		background-color: transparent;
		border: 1px solid #FFF;
}
.btn-close{
	background-color: transparent;
	color: #000;
	font-size: 36px;
	width: auto !important;
	padding: 0;
	margin: 0;
}

.form__group-input label {
		display: block;
		width: 100%;
		margin: 3px 0;
}

.form__group-input input {
		-webkit-appearance: none;
		display: block;
		width: 90%;
		margin: 3px 0;
		padding: 10px;
		line-height: 1.5;
		color: #495057;
		background-color: #fff;
		border: 1px solid #ced4da;
		transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}