@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

}

html {
	font-family: 'Noto Sans TC', 'Roboto', sans-serif;
}

body {
	background-color: #152638;
	color: #FFF;
}

img {
	max-width: 100%;
	vertical-align: top;
}

h1 {
	font-size: 40px;
	font-weight: normal;
	text-align: center;
	padding: 50px 0;
}

h2 {
	font-size: 40px;
	font-weight: normal;
	text-align: center;
	padding: 30px 0;
}

h3 {
	font-size: 30px;
	font-weight: normal;
	padding: 10px 0;
}

@media screen and (max-width:767px) {
	h1 {
		font-size: 28px;
		padding: 20px 0;
	}

	h2 {
		font-size: 28px;
	}

	h3 {
		font-size: 18px;
	}
}

.container {
	width: 1920px;
	max-width: 100%;
	margin: 0 auto;
}

.wrap {
	width: 1200px;
	max-width: 100%;
	margin: 0 auto;
}

@media screen and (max-width:767px) {

	.container,
	.wrap {
		width: 100%;
		max-width: 100%;
		margin: 0 auto;
	}
}

.header {
	width: 100%;
	height: 9.41667%;
	margin: 0 auto;
	text-align: center;
	background-color: rgba(184, 184, 184, 0.5);
}

.header img {
	max-height: 75px;
	padding: 10px 0;
}

.headsetmaterial {
	text-align: center;
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
	align-items: center;
	padding: 0 15px;
}

.headsetmaterial p {
	text-align: center;
	font-size: 18px;
	padding: 10px 0;
}

.headsetmaterial .headsetmaterial__category {
	list-style: none;
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
	margin: 5px 0 20px 0;
}

.headsetmaterial .headsetmaterial__category li {
	padding: 0 10px;
}

.headsetmaterial .headsetmaterial__category li label {
	padding-bottom: 5px;
	font-size: 16px;
	border-bottom: 3px solid transparent;
	transition: .5s;
}

.headsetmaterial .headsetmaterial__category .form__group-radio input:checked~label {
	border-bottom: 3px solid #FFF;
}

.headsetmaterial .headset__color-group {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
	width: fit-content;
	margin: 10px auto;
}

.headset__color-group .headset__color-items {
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
	padding: 10px 0;
}

.headset__color-group .headset__color-items label {
	padding: 0 10px;
}

.headset__color-group .headset__color-selected {
	width: 100%;
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
}

.headset__color-selected p {
	font-size: 16px;
}

.headset__color-selecteditem {
	height: 35px;
	width: 35px;
	margin: 0 15px;
	background-color: transparent;
	border-radius: 50%;
}

.headset__color-selectedtitle {
	text-transform: capitalize;
}

.headsetstyle__custom {
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
}

.headsetstyle__custom .headsetstyle__custom-item {
	margin: 0 20px;
}

@media screen and (max-width:767px) {
	.headsetstyle__custom {
		flex-direction: column;
		align-items: flex-start;
		width: 100%;
	}
}

.headsetstyle__custom .headsetstyle__custom-item label {
	font-size: 16px;
	line-height: 40px;
}

.headset__images {
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
	width: 60%;
	margin: 20px auto;
}

.headset__images-item {
	width: 50%;
	padding: 0 50px;
	margin: 0 10px;
}

.headset__toolbar {
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
	width: 60%;
	margin: 20px auto;
}

.headset__toolbar .headset__toolbar-item {
	width: 50%;
	margin: 0 20px;
}

@media screen and (max-width:767px) {
	.headset__images {
		width: 100%;
		order: -2;
	}

	.headset__toolbar {
		width: 100%;
		order: -1;
	}

	.headset__images-item {
		padding: 0 20px;
	}
}
.headsetstyle__custom-item.custompicture{
	position: relative;
}
.headsetstyle__custom-item.custompicture > label {
	color: #DCEB04;
}
.custompicture__lightbox{
	display: none;
	position: absolute;
	top: 60px;
	left: 0;
	background-color: #fff;
	box-shadow: 3px 3px 15px -5px rgba(0,0,0,0.75);
	color: #707070;
	padding: 20px;
	margin: 0 -40px;
	text-align: left;
	z-index: 100;
}
.custompicture__lightbox .custompicture__lightbox-content{
	padding: 0 15px;
}
.custompicture__lightbox .custompicture__lightbox-content p{
	text-align: left;
}
.custompicture__lightbox .custompicture__lightbox-content .btn{
	width: 100%;
}
.custompicture__lightbox .custompicture__lightbox-content .btn-close{
	position: absolute;
	top: 0;
	right: 10px;
}
@media screen and (max-width:767px){
	.custompicture__lightbox{
		width: 95vw;
		left: 0;
		right: 0;
		margin: 0 0 0 -25px;
	}
}
.headsetconnector__group,
.headsetcable__group {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-content: center;
	width: 60%;
	margin: auto;
}

.headsetconnector__group .headsetconnector__item,
.headsetcable__group .headsetcable__item {
	width: 50%;
}

@media screen and (max-width:767px) {

	.headsetconnector__group,
	.headsetcable__group {
		width: 100%;
		flex-direction: column;
		padding: 0 15px;
	}

	.headsetconnector__group .headsetconnector__item,
	.headsetcable__group .headsetcable__item {
		width: 100%;
	}
}

.headsetconnector__group .headsetconnector__item img,
.headsetcable__group .headsetcable__item img {
	border: 5px solid transparent;
	transition: .5s;
}

.headsetconnector__item .form__group-radio,
.headsetcable__item .form__group-radio {
	padding: 5px 0;
}

.headsetconnector__item .form__group-radio input:checked~img,
.headsetcable__item .form__group-radio input:checked~img {
	border: 5px solid #1592E6;
}

.headsetconnector__item span,
.headsetcable__item span {
	display: inline-block;
	font-size: 16px;
	line-height: 80px;
	vertical-align: middle;
}

.headsetconnector__group .headsetconnector__fullimg,
.headsetcable__group .headsetcable__fullimg {
	width: 100%;
	text-align: center;
	background-color: #fff;
	margin: 20px 0;
}

.orderinfo {
	background-color: #707070;
	padding: 30px 0;
}

.orderinfo .wrap {
	width: 60%;
}

@media screen and (max-width:767px) {
	.orderinfo .wrap {
		width: 100%;
		padding: 0 15px;
	}
}

.orderinfo .desc {
	font-size: 18px;
	padding: 10px 0;
	text-align: center;
}

.orderinfo .orderinfo__item {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
	padding: 20px 0;
}

.orderinfo .orderinfo__item h3 {
	width: 100%;
	text-align: left;
}

.orderinfo__item .orderinfo__input-group {
	width: 50%;
}

.orderinfo__input-group.form__group-radio label {
	padding-left: 30px;
	font-size: 16px;
	line-height: 35px;
	vertical-align: top;
	display: inline-block;
}

.orderinfo__input-group.form__group-radio .checkmark {
	right: unset;
	border-radius: 5px;
}

.orderinfo__item.ordercompany {
	justify-content: flex-start;
}

.orderinfo__item.orderemail p {
	width: 100%;
	text-align: left;
	font-size: 16px;
	padding: 20px 0;
}

.orderinfo__headset p {
	padding: 10px 0;
}

.orderinfo__headset .form__group-checkbox label {
	display: inline-block;
	font-size: 18px;
	line-height: 25px;
	vertical-align: top;
}

.ordersummary {
	text-align: center;
	padding: 50px 30px;
}

.ordersummary__item {
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
	padding: 20px 100px;
	border-bottom: 1px solid #FFF;
}

.ordersummary__item-img {
	width: 40%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: row nowrap;
}

.ordersummary__item.headsetmaterial .ordersummary__item-img img {
	max-width: 40%;
}

.ordersummary__item.headsetmaterial p {
	padding: 0;
}

.ordersummary__item-img img {
	max-width: 80%;
	margin: 0 20px;
}

.ordersummary__list {
	width: 60%;
	display: flex;
	flex-flow: row nowrap;
}

.ordersummary__list .ordersummary__list-item {
	width: 25%;
}

.ordersummary__item-detail {
	margin: 20px 0;
}

.ordersummary__list-item .ordersummary__item-detail p {
	padding: 5px 0;
}

.ordersummary__item-button {
	width: 20%;
}

@media screen and (max-width:767px) {
	.ordersummary__item {
		flex-direction: column;
		padding: 0 15px;
	}

	.ordersummary__item-img,
	.ordersummary__list,
	.ordersummary__item-button {
		width: 100%;
		padding: 20px 0;
	}

	.ordersummary__list {
		justify-content: center;
	}
}

.order__result {
	background-color: #707070;
	padding: 50px 0;
}

.order__result .wrap {
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
	width: 60%;
}

.order__result .order__result-item {
	width: 50%;
	text-align: center;
}

.order__result .order__result-item.amount p {
	font-size: 40px;
}

@media screen and (max-width:767px) {
	.order__result .wrap {
		flex-direction: column;
		width: 100%;
		padding: 0 15px;
	}

	.order__result .order__result-item {
		width: 100%;
	}

	.order__result .order__result-item.amount p {
		font-size: 28px;
		padding: 20px 0;
	}

	.order__result .order__result-item.submit p {
		font-size: 18px;
	}
}
.order__result .order__result-item.submit .btn {
	margin: 20px 0;
	padding: 10px 60px;
}
.order__confirm{
	display: none;
	position: absolute;
	bottom: 50px;
	left: 0;
	right: 0;
	margin: 0 auto;
}

.order__confirm .order__confirm-bg{
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(255, 255, 255, .5);
	z-index: 10;
}
.order__confirm .btn-close{
	position: absolute;
	right: 5px;
	top: -5px;
	color: #FFF;
}
.order__confirm .wrap{
	position: relative;
	background-color: #152638;
	z-index: 1000;
	padding: 10px;
}
.order__confirm .order__confirm-row{
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
	padding: 10px 0;
}
.order__confirm .order__confirm-row:not(:last-child){
	border-bottom: 1px solid #FFF;
}
.order__confirm-row .order__confirm-item{
	text-align: center;
}
.order__confirm-row .order__confirm-item.title{
	width: 30%;
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
}
.order__confirm-row .order__confirm-item.title img{
	max-width: 50%;
	padding: 0 10px;
}
.order__confirm-row .order__confirm-item.detail{
	width: 25%;
	text-align: left;
}
.order__confirm-row .order__confirm-mobiletitle{ display: none; }
.order__confirm-row .order__confirm-item.price,
.order__confirm-row .order__confirm-item.quantity,
.order__confirm-row .order__confirm-item.amount{ width: 15%; }
.order__confirm-row .btn-confirm {
    margin: 20px 0;
    padding: 10px 60px;
}
@media screen and (max-width:767px){
	.order__confirm-row.desktop{ display: none; }
	.order__confirm .wrap{
		padding: 20px 30px;
	}
	.order__confirm .order__confirm-row{
		flex-wrap: wrap;
	}
	.order__confirm-row .order__confirm-item.title,
	.order__confirm-row .order__confirm-item.detail{
		width: 100%;
	}
	.order__confirm-row .order__confirm-mobiletitle{
		width: 100%;
		display: flex;
		flex-flow: row nowrap;
		padding: 10px 0;
		border-bottom: 1px solid #fff;
	}
	.order__confirm-row .order__confirm-item.price,
	.order__confirm-row .order__confirm-item.quantity,
	.order__confirm-row .order__confirm-item.amount{ 
		width: 33.3333%;
		padding: 30px 0;
	}
	.order__confirm-row .order__confirm-mobiletitle .order__confirm-item{
		padding: 10px 0;
	}
	.order__confirm-row.list{
		border-bottom: 1px solid #fff;
	}
}